@charset "UTF-8";
@import url("fonts.css");
:root {
  --text: #fff;
  --background: #000;
  --accent: #E3B891;
  --grey: #D5D5D5;
  --green: #306049;
  --green-light: #418967;
  --pink: #FF9D84;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

html {
  scroll-behavior: smooth;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  cursor: pointer;
  background: none;
  border: none;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  font-size: clamp(1.25rem, calc(1.18rem + 0.27vw), 1.5rem);
}

p:not(:last-child) {
  margin-bottom: 20px;
}

#root, #__next {
  isolation: isolate;
}

body {
  font-family: 'Montserrat';
  background-color: var(--background);
  color: var(--text);
}

h2 {
  font-family: 'Lora', serif;
  font-weight: 500;
  font-size: clamp(4.44rem, calc(-1.5rem + 7.92vw), 8rem);
  line-height: 95%;
}

h2 strong {
  font-weight: inherit;
}

h3 {
  font-size: clamp(1.25rem, calc(1.18rem + 0.27vw), 1.5rem);
  font-weight: 500;
}

h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 700;
}

.subtitle {
  font-family: 'Lora', serif;
  font-size: clamp(1.5rem, calc(1.36rem + 0.54vw), 2rem);
  line-height: 120%;
}

.site-nav {
  position: fixed;
  right: clamp(1.25rem, calc(0.67rem + 2.16vw), 3.13rem);
  bottom: calc(clamp(1.25rem, calc(0.67rem + 2.16vw), 3.13rem) - 10px);
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.site-nav__menu {
  position: relative;
}

.site-nav__menu--burger {
  width: 65px;
  height: 65px;
  border: 1px solid #fff;
  border-radius: 50%;
  background-color: var(--green);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  z-index: 99;
}

.site-nav__menu .menu {
  display: none;
  position: absolute;
  bottom: 50%;
  right: 50%;
  background-color: var(--text);
  padding: 25px 47px 30px 18px;
  border-radius: 15px;
  color: var(--grey);
  z-index: -1;
}

.site-nav__menu .menu.open {
  display: block;
}

.site-nav__menu .menu li {
  margin-bottom: 9px;
}

.site-nav__menu .menu li a {
  position: relative;
  padding: 0 18px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--grey);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  white-space: nowrap;
  outline: none;
}

.site-nav__menu .menu li a::after {
  position: absolute;
  content: url('data:image/svg+xml,<svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.25994 10.5199C5.10766 5.53672 4.98316 5.41301 0 5.25994C4.98316 5.10766 5.10689 4.98316 5.25994 0C5.41222 4.98316 5.53672 5.10689 10.5199 5.25994C5.53672 5.41301 5.41301 5.53519 5.25994 10.5199Z" fill="%23418967"/></svg>');
  left: -20px;
  top: 1px;
  width: 10px;
  height: 10px;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.site-nav__menu .menu li a::before {
  position: absolute;
  content: url('data:image/svg+xml,<svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.25994 10.5199C5.10766 5.53672 4.98316 5.41301 0 5.25994C4.98316 5.10766 5.10689 4.98316 5.25994 0C5.41222 4.98316 5.53672 5.10689 10.5199 5.25994C5.53672 5.41301 5.41301 5.53519 5.25994 10.5199Z" fill="%23418967"/></svg>');
  right: -20px;
  top: 1px;
  width: 10px;
  height: 10px;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.site-nav__menu .menu li a:hover {
  color: var(--green);
}

.site-nav__menu .menu li a:hover::after {
  left: 0;
  opacity: 1;
}

.site-nav__menu .menu li a:hover::before {
  right: 0;
  opacity: 1;
}

.site-nav__menu .menu li a:focus {
  color: var(--green);
}

.site-nav__menu .menu li a:focus::after {
  left: 0;
  opacity: 1;
}

.site-nav__menu .menu li a:focus::before {
  right: 0;
  opacity: 1;
}

.site-nav__menu .menu li.current-menu-item a {
  color: var(--green);
}

.site-nav__menu .menu li.current-menu-item a::after {
  left: 0;
  opacity: 1;
}

.site-nav__menu .menu li.current-menu-item a::before {
  opacity: 1;
  right: 0;
}

.site-nav__top {
  width: 83px;
  height: 83px;
  border: 1px solid #fff;
  border-radius: 50%;
  background-color: var(--green);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 100vh;
}

.main {
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.container {
  max-width: 1920px;
  padding: 0 clamp(1.25rem, calc(0.67rem + 2.16vw), 3.13rem);
  margin: 0 auto;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: clamp(2.75rem, calc(2.63rem + 0.43vw), 3.13rem);
}

.header__wrapper {
  width: 50%;
  max-width: 580px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 28px;
  position: relative;
  z-index: 1;
}

.header__wrapper nav ul li {
  margin-bottom: 9px;
}

.header__wrapper nav ul li a {
  position: relative;
  padding: 0 18px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--grey);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  white-space: nowrap;
  outline: none;
}

.header__wrapper nav ul li a::after {
  position: absolute;
  content: url('data:image/svg+xml,<svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.25994 10.5199C5.10766 5.53672 4.98316 5.41301 0 5.25994C4.98316 5.10766 5.10689 4.98316 5.25994 0C5.41222 4.98316 5.53672 5.10689 10.5199 5.25994C5.53672 5.41301 5.41301 5.53519 5.25994 10.5199Z" fill="%23418967"/></svg>');
  left: -20px;
  top: 1px;
  width: 11px;
  height: 11px;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header__wrapper nav ul li a::before {
  position: absolute;
  content: url('data:image/svg+xml,<svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.25994 10.5199C5.10766 5.53672 4.98316 5.41301 0 5.25994C4.98316 5.10766 5.10689 4.98316 5.25994 0C5.41222 4.98316 5.53672 5.10689 10.5199 5.25994C5.53672 5.41301 5.41301 5.53519 5.25994 10.5199Z" fill="%23418967"/></svg>');
  right: -20px;
  top: 1px;
  width: 11px;
  height: 11px;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header__wrapper nav ul li a:hover {
  color: var(--green);
}

.header__wrapper nav ul li a:hover::after {
  left: 0;
  opacity: 1;
}

.header__wrapper nav ul li a:hover::before {
  right: 0;
  opacity: 1;
}

.header__wrapper nav ul li a:focus {
  color: var(--green);
}

.header__wrapper nav ul li a:focus::after {
  left: 0;
  opacity: 1;
}

.header__wrapper nav ul li a:focus::before {
  right: 0;
  opacity: 1;
}

.header__wrapper nav ul li.current-menu-item a {
  color: var(--green);
}

.header__wrapper nav ul li.current-menu-item a::after {
  left: 0;
  opacity: 1;
}

.header__wrapper nav ul li.current-menu-item a::before {
  right: 0;
  opacity: 1;
}

.header__logo {
  min-width: 136px;
  width: clamp(8.5rem, calc(5.68rem + 10.5vw), 17.63rem);
}

.front-page .header {
  --text: #000;
  color: var(--text);
}

.front-page .header svg path {
  fill: var(--text);
}

.decor-text {
  position: absolute;
  opacity: 0.16;
  text-align: center;
  text-transform: uppercase;
}

.decor-text p {
  font-size: clamp(0.44rem, calc(0.28rem + 0.6vw), 1rem) !important;
  width: clamp(9.69rem, calc(5.63rem + 15.1vw), 23.75rem);
  line-height: 119%;
  letter-spacing: 0.96rem;
}

.decor-text p:nth-child(2) {
  margin-left: -40px;
}

.hero {
  --background: #fff;
  background-color: var(--background);
  min-height: 925px;
  height: 100vh;
  pointer-events: none;
  overflow: hidden;
}

.hero__decor-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--green);
  left: -10%;
  bottom: -20%;
}

.hero__decor-text p {
  letter-spacing: 0.26rem;
}

.hero__wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero__offer {
  position: relative;
  width: 50%;
}

.hero__offer--star {
  position: absolute;
  top: 52px;
  right: 35%;
}

.hero__offer--bigstar {
  position: absolute;
  bottom: 18px;
  left: 24px;
}

.hero__offer h1 {
  position: absolute;
  font-size: clamp(3rem, calc(1.77rem + 4.56vw), 7.25rem);
  font-weight: 900;
  color: var(--green);
  text-transform: uppercase;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  /* текст вертикально */
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  height: auto;
  max-height: 740px;
  bottom: clamp(1.06rem, calc(0.54rem + 1.95vw), 2.88rem);
  right: 60px;
}

.hero__poster {
  position: relative;
  width: 50%;
  height: 100%;
}

.hero__poster--star {
  position: absolute;
  top: 24px;
  right: 30px;
  z-index: 1;
}

.hero__poster img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 0;
}

.hero__poster--mission {
  position: absolute;
  text-transform: uppercase;
  color: var(--text);
  width: clamp(16.13rem, calc(14.43rem + 6.31vw), 22rem);
  bottom: clamp(4.25rem, calc(3.51rem + 2.75vw), 6.81rem);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
}

.hero__poster--title {
  font-size: clamp(1.1rem, calc(0.98rem + 0.43vw), 1.5rem);
  font-weight: 600;
  margin-bottom: clamp(0.44rem, calc(0.38rem + 0.2vw), 0.63rem);
}

.hero__poster--text {
  font-size: clamp(0.75rem, calc(0.68rem + 0.27vw), 1rem);
  line-height: 126%;
  letter-spacing: -0.01rem;
}

.hero__poster--sign {
  position: absolute;
  bottom: clamp(0.56rem, calc(-0.41rem + 3.62vw), 3.94rem);
  right: clamp(2.31rem, calc(1.74rem + 2.15vw), 4.31rem);
  width: clamp(8.38rem, calc(6.5rem + 6.98vw), 14.88rem);
  height: clamp(2.63rem, calc(2.34rem + 1.07vw), 3.63rem);
}

@media (max-width: 968px) {
  .hero h1 {
    right: 0;
  }
  .hero__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero__offer {
    height: 50%;
    width: 100%;
  }
  .hero__poster {
    height: 50%;
    width: 100%;
  }
}

.happiness {
  padding-top: clamp(4.88rem, calc(3.36rem + 5.64vw), 10.13rem);
  position: relative;
}

.happiness .decor-text {
  color: #fff;
  position: absolute;
  top: -50px;
  left: -3%;
  z-index: -1;
}

.happiness__offer {
  margin-left: 50%;
}

.happiness__offer--subtitle {
  max-width: 556px;
  margin-top: 40px;
}

.about {
  padding-top: 170px;
  position: relative;
  overflow: hidden;
}

.about .decor-text {
  right: 24px;
  top: 24px;
}

.about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__offer {
  width: 50%;
}

.about__offer--title {
  font-size: 16px;
  text-transform: uppercase;
  color: var(--accent);
  margin-bottom: 30px;
}

.about__offer--desc {
  max-width: 707px;
  font-size: clamp(1.25rem, calc(1.18rem + 0.27vw), 1.5rem);
  margin-bottom: 49px;
}

.about__offer--desc p:not(:last-child) {
  margin-bottom: 20px;
  line-height: 126%;
}

.about__offer a {
  display: block;
  font-size: 40px;
  font-weight: 600;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  color: var(--accent);
  max-width: 343px;
  position: relative;
}

.about__offer a::after {
  content: url('data:image/svg+xml,<svg width="165" height="23" viewBox="0 0 165 23" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M164.061 12.1066C164.646 11.5208 164.646 10.571 164.061 9.98524L154.515 0.439297C153.929 -0.14649 152.979 -0.14649 152.393 0.439297C151.808 1.02508 151.808 1.97483 152.393 2.56062L160.879 11.0459L152.393 19.5312C151.808 20.117 151.808 21.0667 152.393 21.6525C152.979 22.2383 153.929 22.2383 154.515 21.6525L164.061 12.1066ZM0 11.0459V12.5459H163V11.0459V9.5459H0V11.0459Z" fill="%23E3B891"/></svg>');
  margin-left: 14px;
}

.about__img {
  width: 50%;
  pointer-events: none;
}

.about__img--inner {
  position: relative;
  max-width: 703px;
  height: 908px;
}

.about__img--inner img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 51%;
  max-width: 356px;
  max-height: 517px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 356px;
}

.about__img svg {
  position: absolute;
  z-index: 2;
  overflow: visible;
}

.about__img svg.about__img--min-svg {
  width: 43%;
  max-width: 338px;
  height: 488px;
  top: 49%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.about__img svg.about__img--min-svg path {
  width: 100%;
}

.about__img svg.about__img--max-svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 60%;
}

.about__img svg .min-text {
  font-family: 'Lora', serif;
  font-size: 95px;
  fill: var(--accent);
}

.about__img svg .max-text {
  font-family: 'Lora', serif;
  font-size: 146px;
  fill: var(--green);
}

@media (max-width: 786px) {
  .happiness__offer {
    width: 100%;
    margin-left: 0;
  }
  .about {
    padding-top: 100px;
  }
  .about__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 80px;
  }
  .about__offer {
    width: 100%;
  }
  .about__img {
    width: 80%;
    margin: 0 auto;
  }
  .about__img--inner {
    max-height: 908px;
    min-height: 540px;
    height: 100%;
  }
  .about__img--inner img {
    width: 60%;
  }
  .about__img svg.about__img--min-svg {
    width: 50%;
  }
  .about__img svg.about__img--max-svg {
    height: 100%;
    width: 72%;
  }
}

@media (max-width: 440px) {
  .about__img {
    width: 94%;
    margin: 0 auto;
  }
}

.couching {
  position: relative;
  overflow: hidden;
}

.couching > .star {
  position: absolute;
  top: 320px;
  left: 50%;
}

.couching > .star svg {
  overflow: visible;
}

.couching > .key {
  position: absolute;
  top: 140px;
  right: 100px;
}

.couching > .key svg {
  overflow: visible;
}

.couching h2 {
  max-width: 991px;
}

.couching__footer {
  height: clamp(22.94rem, calc(19.56rem + 12.55vw), 34.63rem);
  position: relative;
}

.couching__footer--anim {
  position: absolute;
  top: 113px;
  right: 157px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 428px;
  height: 302px;
}

.couching__footer--anim svg {
  width: 100%;
}

.couching__footer .decor-text {
  width: 648px;
  position: absolute;
  left: -3%;
  top: 10%;
}

.couching__footer .decor-text p {
  width: 100%;
}

.couching__footer .star {
  position: absolute;
  bottom: 0;
  right: -8px;
}

.whot__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: clamp(3.19rem, calc(0.64rem + 9.46vw), 12rem);
  margin-bottom: clamp(8.44rem, calc(6.9rem + 5.7vw), 13.75rem);
}

.whot__img {
  width: 50%;
  max-height: clamp(29.44rem, calc(21.34rem + 30.13vw), 57.5rem);
  margin-top: 67px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.whot__img img {
  width: 70%;
  height: clamp(29.44rem, calc(21.34rem + 30.13vw), 57.5rem);
  -o-object-fit: cover;
     object-fit: cover;
}

.whot__img--text {
  margin-left: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.whot__img--text span {
  display: inline-block;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  font-family: "Lora", serif;
  font-size: clamp(1.88rem, calc(1.26rem + 2.28vw), 4rem);
  height: 100%;
}

.whot__img--text span:nth-child(1) {
  color: var(--accent);
}

.whot__img--text span:nth-child(2) {
  color: var(--green);
  margin-top: auto;
  text-align: end;
}

.whot__content {
  width: 50%;
}

.whot__content strong {
  font-weight: 500;
  color: var(--accent);
}

.whot__content--icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.principles {
  position: relative;
}

.principles__line {
  position: absolute;
  width: 100%;
  height: 274px;
  background-color: #D9D9D9;
  bottom: 14%;
  left: 0;
  right: 0;
  z-index: -1;
}

.principles__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: clamp(4.38rem, calc(2.88rem + 5.57vw), 9.56rem);
  margin-top: clamp(2.13rem, calc(0.93rem + 4.43vw), 6.25rem);
}

.principles__item {
  width: 50%;
}

.principles__item h4 {
  margin-top: 39px;
  margin-bottom: 15px;
}

.principles__item p {
  font-size: 16px;
}

.principles__item:nth-child(1) .principles__item--inner {
  max-width: 341px;
  margin-top: 253px;
}

.principles__item:nth-child(2) .principles__item--inner {
  max-width: 621px;
}

.principles__item:nth-child(2) .principles__item--inner p {
  max-width: 539px;
}

.principles__item:nth-child(3) .principles__item--inner {
  max-width: 589px;
  margin-left: auto;
}

.principles__item:nth-child(3) .principles__item--inner p {
  max-width: 347px;
}

.principles__item:nth-child(4) .principles__item--inner {
  max-width: 390px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 260px;
}

.principles__item:nth-child(4) .principles__item--inner img {
  max-width: 336px;
}

.principles__item:nth-child(4) .principles__item--inner p {
  max-width: 390px;
}

@media (max-width: 1080px) {
  .principles__line {
    height: 80px;
    bottom: 20%;
  }
}

@media (max-width: 960px) {
  .principles__line {
    display: none;
  }
  .whot__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .whot__img {
    width: 100%;
    -ms-flex-negative: 1;
        flex-shrink: 1;
    margin-bottom: 41px;
  }
  .whot__img img {
    width: 77%;
  }
  .whot__img span:nth-child(1) {
    text-align: end;
    -webkit-transform: translateY(31px);
            transform: translateY(31px);
  }
  .whot__img span:nth-child(2) {
    text-align: start;
  }
  .whot__content {
    width: 100%;
  }
}

@media (max-width: 740px) {
  .principles__item {
    width: 100%;
  }
  .principles__item--inner {
    max-width: 100% !important;
    margin: 0 !important;
  }
}

@media (max-width: 440px) {
  .whot__content--icons {
    position: relative;
  }
  .whot__content--icons img {
    overflow: hidden;
  }
  .whot__content--icons img:nth-child(1) {
    position: absolute;
    bottom: -20px;
    left: 0;
  }
  .principles__item--inner img {
    max-width: 100% !important;
    width: 100%;
  }
}

.horisont-path {
  position: relative;
}

.horisont-path path {
  position: absolute;
  top: 0;
  left: 0;
}

.horisont-path text {
  font-family: "Lora", serif;
  font-size: 63px;
  fill: var(--green);
}

.reviews {
  padding-top: 50px;
  padding-bottom: 280px;
  overflow: hidden;
}

.reviews__title {
  font-size: clamp(1.88rem, calc(0.65rem + 6.13vw), 8rem);
  font-weight: 600;
  text-transform: uppercase;
  color: var(--green);
  text-align: right;
}

.reviews__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: clamp(28.25rem, calc(26.05rem + 8.19vw), 35.88rem);
  margin-top: 20px;
}

.reviews__item {
  width: calc(100% / 5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  height: clamp(28.25rem, calc(26.05rem + 8.19vw), 35.88rem);
}

.reviews__item.open {
  width: calc(100% / 5 * 2);
}

.reviews__item.open .reviews__item--content {
  width: 100%;
  padding: 42px 5px 18px 18px;
}

.reviews__item.open .reviews__item--btn::before {
  height: 0;
}

.reviews__item--btn {
  position: absolute;
  color: var(--background);
  background-color: #CACACA;
  width: clamp(1.69rem, calc(1.56rem + 0.47vw), 2.13rem);
  height: clamp(1.69rem, calc(1.56rem + 0.47vw), 2.13rem);
  border-radius: 2px;
  font-size: 48px;
  font-weight: 300;
  line-height: 100%;
  bottom: 15px;
  right: 17px;
  cursor: pointer;
}

.reviews__item--btn::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 80%;
  background-color: #000;
  border-radius: 2px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.reviews__item--btn::before {
  content: '';
  position: absolute;
  height: 80%;
  width: 2px;
  background-color: #000;
  border-radius: 2px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.reviews__item--img {
  position: relative;
  height: clamp(28.25rem, calc(26.05rem + 8.19vw), 35.88rem);
  width: 100%;
}

.reviews__item--img img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.reviews__item--content {
  width: 0;
  height: 100%;
  overflow: hidden;
  --background: #fff;
  background-color: var(--background);
  padding: 0;
  --text: #000;
  color: var(--text);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.reviews__item--content p {
  font-size: 16px;
}

.reviews__wrapper {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  cursor: -webkit-grab;
  cursor: grab;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  /* твои переменные */
  --open-width: 480px;
  --closed-width: 15%;
  --item-width: clamp(18.75rem, calc(17.23rem + 5.64vw), 24rem);
}

.reviews__wrapper.dragging {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}

.reviews__wrapper::-webkit-scrollbar {
  display: none;
}

.reviews__item {
  min-width: 240px;
  width: var(--item-width);
  -webkit-transition: width 0.4s ease;
  transition: width 0.4s ease;
  overflow: hidden;
}

/* Когда существует хотя бы один .open */
.reviews__wrapper:has(.reviews__item.open) .reviews__item {
  width: var(--closed-width);
}

/* Тот, который открыт */
.reviews__wrapper:has(.reviews__item.open) .reviews__item.open {
  min-width: var(--open-width);
  max-width: 820px;
  width: auto;
}

.reviews__wrapper:has(.reviews__item.open) .reviews__item.open img {
  width: 100%;
}

.result {
  position: relative;
}

.result .star {
  position: absolute;
  bottom: 0;
  left: 2%;
}

.result h2 {
  text-align: center;
  width: 60%;
  margin: 0 auto 62px;
  letter-spacing: -0.02rem;
}

.result h2 strong:nth-child(1) {
  color: var(--green);
}

.result h2 strong:nth-child(2) {
  color: var(--accent);
}

.result p {
  font-size: clamp(1.25rem, calc(1.18rem + 0.27vw), 1.5rem);
  text-align: center;
  padding: 0 clamp(0rem, calc(-2.2rem + 8.19vw), 7.63rem);
}

.result__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: clamp(2.5rem, calc(1.92rem + 2.15vw), 4.5rem);
}

.result__info {
  width: clamp(21rem, calc(20.04rem + 3.56vw), 24.31rem);
  margin-left: clamp(0rem, calc(-3.61rem + 13.42vw), 12.5rem);
}

.result__info--img {
  margin-bottom: 32px;
}

.result__info--text {
  font-size: clamp(1.25rem, calc(1.18rem + 0.27vw), 1.5rem);
  line-height: 140%;
  letter-spacing: -0.84px;
}

.result__list {
  width: 50%;
  font-family: 'Lora', serif;
  font-size: clamp(1.13rem, calc(0.73rem + 1.48vw), 2.5rem);
  line-height: clamp(2.5rem, calc(1.45rem + 3.89vw), 6.13rem);
  padding-right: clamp(0rem, calc(-1.05rem + 3.89vw), 3.63rem);
}

.result__list li {
  padding: clamp(0.81rem, calc(0.47rem + 1.28vw), 2rem) clamp(0.81rem, calc(0.47rem + 1.28vw), 2rem) clamp(0.81rem, calc(0.33rem + 1.81vw), 2.5rem) clamp(0.81rem, calc(0.51rem + 1.14vw), 1.88rem);
  opacity: 0.3;
  border-top: 1px solid #ffffff40;
}

.result__list li:last-child {
  border-bottom: 1px solid #ffffff40;
}

.result__btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-top: 84px;
  margin-right: clamp(0rem, calc(-1.05rem + 3.89vw), 3.63rem);
  border-bottom: 2px solid var(--text);
}

.result__btn a {
  position: relative;
  padding-right: 34px;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: -1.4px;
}

.result__btn a::after {
  position: absolute;
  right: 0;
  top: 2px;
  content: url('data:image/svg+xml,<svg width="18" height="23" viewBox="0 0 18 23" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.2441 17.2441L11.9941 22.4941C11.8299 22.6583 11.6072 22.7505 11.375 22.7505C11.1428 22.7505 10.9201 22.6583 10.7559 22.4941C10.5918 22.3299 10.4995 22.1072 10.4995 21.875C10.4995 21.6428 10.5918 21.4201 10.7559 21.2559L14.513 17.5H0.875C0.642936 17.5 0.420376 17.4078 0.256282 17.2437C0.0921874 17.0796 0 16.8571 0 16.625V0.875C0 0.642936 0.0921874 0.420376 0.256282 0.256282C0.420376 0.0921872 0.642936 0 0.875 0C1.10706 0 1.32962 0.0921872 1.49372 0.256282C1.65781 0.420376 1.75 0.642936 1.75 0.875V15.75H14.513L10.7559 11.9941C10.5918 11.8299 10.4995 11.6072 10.4995 11.375C10.4995 11.1428 10.5918 10.9201 10.7559 10.7559C10.9201 10.5918 11.1428 10.4995 11.375 10.4995C11.6072 10.4995 11.8299 10.5918 11.9941 10.7559L17.2441 16.0059C17.3254 16.0872 17.39 16.1837 17.434 16.2899C17.478 16.3962 17.5007 16.51 17.5007 16.625C17.5007 16.74 17.478 16.8539 17.434 16.9601C17.39 17.0663 17.3254 17.1628 17.2441 17.2441Z" fill="%23E3B891"/></svg>');
}

@media (max-width: 996px) {
  .result__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .result__list {
    width: 100%;
    margin-bottom: 35px;
  }
}

@media (max-width: 740px) {
  .reviews {
    padding-bottom: 120px;
  }
  .result h2 {
    width: 100%;
    text-align: left;
  }
  .result p {
    width: 100%;
    text-align: left;
  }
  .result__list {
    width: 100%;
    margin-bottom: 35px;
  }
}

@media (max-width: 460px) {
  h2 {
    font-size: 60px;
    font-weight: 400;
  }
  h2 strong {
    font-weight: 400;
  }
}

.faq {
  padding-top: clamp(3.38rem, calc(0.33rem + 11.34vw), 13.94rem);
}

.faq h2 {
  margin-bottom: 24px;
}

.faq__subtitle {
  max-width: 222px;
  font-size: 20px;
}

.faq__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.faq__accordion {
  width: 66.5%;
}

.accordion__item--control {
  width: 100%;
  padding: clamp(0.75rem, calc(0.46rem + 1.46vw), 1.5rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  outline: none;
  border: none;
  border-bottom: 1px solid #fff;
}

.accordion__item--icon {
  position: relative;
  width: 25px;
  height: 25px;
}

.accordion__item--icon::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #fff;
  border-radius: 2px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.accordion__item--icon::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 2px;
  background-color: #fff;
  border-radius: 2px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.accordion__item.open .accordion__item--icon::before {
  height: 0;
}

.accordion__item--content {
  padding: 0 24px;
  color: #ccc;
  line-height: 126%;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.accordion__item--content strong {
  color: var(--accent);
  font-weight: 500;
}

.accordion__item--content p {
  font-size: clamp(1rem, calc(0.93rem + 0.27vw), 1.25rem) !important;
}

.accordion__item--content ul {
  list-style: disc;
  padding-left: 24px;
}

.accordion__item--content ul li {
  font-size: clamp(1rem, calc(0.93rem + 0.27vw), 1.25rem) !important;
}

.accordion__item--content ol {
  list-style: decimal;
  padding-left: 24px;
}

.accordion__item--content ol li {
  font-size: clamp(1rem, calc(0.93rem + 0.27vw), 1.25rem) !important;
}

.open .accordion__item--content {
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
  padding: 24px;
}

.step {
  padding-top: clamp(6.25rem, calc(4.99rem + 4.7vw), 10.63rem);
}

.step__title {
  position: relative;
}

.step__title .key {
  position: absolute;
  left: 7%;
  bottom: 30%;
}

.step h2 {
  position: relative;
  text-align: center;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.step h2 svg {
  position: absolute;
  right: 0;
  bottom: -140px;
}

.step h2 strong {
  color: var(--accent);
}

.step__subtitle {
  text-align: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 66px;
}

footer {
  min-height: 100px;
}
/*# sourceMappingURL=style.css.map */